{% extends 'blog/landing_base_page.html' %}
 {% comment %} {% block title %}Welcome to My Blog{% endblock %} {% endcomment %}
{% block content %}
<div class="text-center py-8">
  <h2 class="text-4xl font-bold mb-4">Welcome to My Konkonsa!</h2>
  <p class="text-lg mb-4">
    Discover amazing posts on various topics including Technology, Lifestyle,
    Travel, and Food.
  </p>
  <p class="text-md mb-8">Start exploring our latest articles below.</p>
  <!-- Placeholder for posts or categories -->
  <div class="mt-8">
    <h3 class="text-2xl font-semibold mb-4">Categories</h3>
    <ul class="list-none p-0 flex justify-center flex-wrap">
      <li class="m-2">
        <a
          href="{% url "blog:technology_posts" %}"
          class="inline-block m-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-gray-800 no-underline rounded"
          >Technology</a
        >
      </li>
      <li class="m-2">
        <a
          href="{% url "blog:lifestyle_posts" %}"
          class="inline-block m-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-gray-800 no-underline rounded"
          >Lifestyle</a
        >
      </li>
      <li class="m-2">
        <a
          href="{% url "blog:travel_posts" %}"
          class="inline-block m-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-gray-800 no-underline rounded"
          >Travel</a
        >
      </li>
      <li class="m-2">
        <a
          href='{% url "blog:food_posts" %}'
          class="inline-block m-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-gray-800 no-underline rounded"
          >Food</a
        >
      </li>
    </ul>
  </div>
  <div class="mt-8">
    <h3 class="text-2xl font-semibold mb-4">Latest Posts</h3>
    {% for post in posts %}
    <div class="mb-6 border-b pb-4">
      <div class="flex items-center justify-between mb-2">
        <h2 class="text-xl font-semibold"><a href="{% url 'blog:view_post' post.pk %}" class="text-blue-500 hover:underline">{{ post.title }}</a></h2>
        {% if not post.is_published %}
        <span class="inline-block bg-red-100 text-red-800 text-xs font-bold px-2 py-1 rounded">DRAFT</span>
        {% endif %}
      </div>
      <p class="text-gray-700">{{ post.content }}</p>
      <p class="text-sm text-gray-500 mt-2">Posted on {{ post.created_at }}</p>
    </div>
    {% empty %}
    <p>No posts available.</p>
    {% endfor %}
</div>
{% endblock %}
