{% extends "makola/base.html" %}
{% block title %}Update Product - Makola Marketplace{% endblock %}

{% block content %}
    <div class="max-w-7xl mx-auto px-6 py-8">
        <h2 class="text-2xl font-bold mb-4">Update Product</h2>
        <form method="post" enctype="multipart/form-data" class="bg-white p-6 rounded shadow-md">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="px-4 py-2 bg-blue-600 text-black rounded">Update Product</button>
        </form>
    </div>
{% endblock %}